/* Palette */
/* Headings: #66545e purple || #333333 grey*/
/* Content: #a39193 lilac-grey */
/* Links: #f6e0b5 strange-yellow */
/* Subcontent (small text): #eea990 orange */
/* Misc (clicked links?): #aa6f73 dark-red */

*{
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  border: 15px solid #333333;
  max-width: 1200px;
  background-color: #f7f1f2;
  font-family: Raleway, Helvetica, sans-serif;
}

.headings {
  color: #a39193;
  text-align: center;
}

.content {
 color: #eea990;
}

.subcontent {
 color: #f6e0b5;
}

/* Links (a href) */
a {
color: #eabf6c;
}

/* Change color after visiting link */
a:visited {
  color: #aa6f73;
}

/* Style the header */
.header {
  background-color: #333333;
  padding: 20px;
  text-align: center;
  color: #eea990;
  
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #eea990;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #f7f1f2;
  color: #66545e;
}

/* Create unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Sets images to auto adjust */
img.resize {
max-width: 100%;
max-height: 100%;
height: auto;
width: auto;
}


/* Style the footer */
.footer {
  background-color: #333333;
  padding: 10px;
  text-align: left;
  color: #e5c100;
}

.fcontent {
 color: #5b5b5b;
 font-size: 10px;
}

/* Set a style for all buttons */
button {
  background-color: #eea990;
  color: white;
  padding: 5px 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}




